/* typography*/


.title{
    text-align: center;
    font-size: 50px;
    /* word-spacing: 100px; */
    /* letter-spacing: 7px; */
    text-decoration: underline rgb(255, 145, 0);
    /* text-decoration:overline yellow; */
    /* text-decoration: line-through blue; */
    color: green;
}


.sub-title{

text-align: center;
    font-size: 50px;
    /* word-spacing: 100px; */
    /* letter-spacing: 7px; */
    text-decoration: underline rgb(255, 145, 0);
    /* text-decoration:overline yellow; */
    /* text-decoration: line-through blue; */
    color: red;
}
p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#desc{
    color: rgb(238, 203, 203);
}